<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <p style="position: absolute;right: 5%;top: 1px;">Your username: {{username}}</p>
    <a style="position: absolute;right: 0;" class="navbar-brand" href="/login?logout">Logout</a>
</nav>

<div>
    <form id="sendMessage">
        <div class="form-group">
            <label for="text">Invia un messaggio con il bot:</label>
            <input type="text" class="form-control" id="text">
        </div>
        <button type="submit" class="btn btn-primary">Invia</button>
    </form>
    <h2>This page is only visible to logged in users, your username: {{username}}</h2>

    <div class="d-flex flex-row bd-highlight mb-2">
        <div style="margin-right: 20px; width: 100%">
            <caption>Ban list</caption>
            <table class="table table-striped ">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Banned By</th>
                        <th scope="col">From</th>
                        <th scope="col">Until</th>
                        <th scope="col">Reason</th>
                        <th scope="col">Enabled</th>
                        <th scope="col">Unban</th>
                    </tr>
                </thead>
                <tbody id="ban">
                    {{#each bans}}
                        <tr>
                            <td>{{userName}} ({{userID}})</td>
                            <td>{{adminName}} ({{adminID}})</td>
                            <td>{{createdAt}}</td>
                            <td>{{untilDate}}</td>
                            <td>{{reason}}</td>
                            {{#if disabled}}
                            <td><i class="icon-remove"></i></td>
                            {{else}}
                            <td><i class="icon-ok"></i></td>
                            {{/if}}
                            {{#unless disabled}}
                            <td><button class="btn btn-primary">Unban</button></td>
                            {{/unless}}
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div style="width: 100%">
            <caption>Kick list</caption>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">By</th>
                        <th scope="col">Date</th>
                        <th scope="col">Reason</th>
                    </tr>
                </thead>
                <tbody id="kick">
                    {{#each kicks}}
                        <tr>
                            <td>{{userName}} ({{userID}})</td>
                            <td>{{adminName}} ({{adminID}})</td>
                            <td>{{createdAt}}</td>
                            <td>{{reason}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex flex-row bd-highlight mb-2">
        <div style="margin-right: 20px; width: 100%">
            <caption>Mute list</caption>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Muted By</th>
                        <th scope="col">From</th>
                        <th scope="col">Until</th>
                        <th scope="col">Reason</th>
                        <th scope="col">Unmute</th>
                    </tr>
                </thead>
                <tbody id="mute">
                </tbody>
            </table>
        </div>
        <div style="width: 100%">
            <caption>Warn list</caption>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Warned By</th>
                        <th scope="col">From</th>
                        <th scope="col">Reason</th>
                        <th scope="col">Remove</th>
                    </tr>
                </thead>
                <tbody id="warn">
                </tbody>
            </table>
        </div>
    </div>

    <div class="d-flex flex-row bd-highlight mb-2">
        <div style="margin-right: 20px; width: 100%">
            <caption>Users list</caption>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Role</th>
                        <th scope="col">Search for events</th>
                        <th scope="col">Ban</th>
                        <th scope="col">Kick</th>
                        <th scope="col">Promote</th>
                    </tr>
                </thead>
                <tbody id="users">
                </tbody>
            </table>
        </div>
        <div style="width: 100%">
            <caption>Admin list</caption>
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Role</th>
                        <th scope="col">Search for events</th>
                        <th scope="col">Promote</th>
                        <th scope="col">Demote</th>
                    </tr>
                </thead>
                <tbody id="admins">
                </tbody>
            </table>
        </div>
    </div>

    <script defer src="/scripts/administration.js"></script>
</div>